[Unit]
Description=Docker Service for postgres-exporter
After=network.service docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker stop -t 60 postgres-exporter
ExecStartPre=-/usr/bin/docker rm postgres-exporter
ExecStart=/usr/bin/docker run \
--rm \
--name postgres-exporter \
--publish {{ postgres_exporter.external_port }}:9187 \
{% if postgres_exporter.networks is defined %}
{% for network in postgres_exporter.networks %}
--network {{ network }} \
{% endfor %}
{% endif %}
--log-driver 'syslog' \
--log-opt 'tag=postgres-exporter' \
--env "DATA_SOURCE_NAME=postgresql://{{ postgres_exporter.user }}:{{ postgres_exporter.password }}@{{ postgres_exporter.postgres_host }}:{{ postgres_exporter.postgres_port }}/postgres" \
{{ postgres_exporter.image }} 
ExecStop=-/usr/bin/docker stop -t 60 postgres-exporter

ExecReload=/usr/bin/docker restart 'postgres-exporter'

Restart=always
RestartSec=20s

SuccessExitStatus=SIGKILL SIGTERM 143 137

[Install]
WantedBy=multi-user.target
WantedBy=docker.service

