[Unit]
Description=MinIO object storage
Requires=docker.service
After=docker.service

[Service]
User=root
Group=root
Restart=always
Environment=MINIO_ACCESS_KEY={{ minio_access_key }}
Environment=MINIO_SECRET_KEY={{ minio_secret_key }}

ExecStartPre=/usr/bin/docker stop docker_minio
ExecStartPre=/usr/bin/docker rm docker_minio
ExecStart=/usr/bin/docker run \
  --name docker_minio \
  -p "{{ minio_api_port }}":9000 \
  -p "{{ minio_ui_port }}":9001 \
  -e "MINIO_ACCESS_KEY={{ minio_access_key }}" \
  -e "MINIO_SECRET_KEY={{ minio_secret_key }}" \
  -v {{ minio_volume_path }}:/data \
  minio/minio:{{ minio_image_version }} server /data --console-address :9001

ExecStop=/usr/bin/docker stop docker_minio
ExecStop=/usr/bin/docker rm docker_minio

# Healthcheck
HealthCheckTimeoutSec=30s
HealthCheckInterval=5m
HealthCheckRestart=on-failure
HealthCheckCommand=/usr/bin/docker exec minio sh -c "/usr/bin/healthcheck"

[Install]
WantedBy=multi-user.target

