---
version: "{{ docker_compose_version }}"
services:
  cache:
    image: redis:{{ redis.version }}
    restart: always
    ports:
      - '{{ redis.external_port }}:6379'
    command: redis-server --save 20 1 --loglevel {{ redis.loglevel }} --requirepass {{ "${" }}REDIS_PASSWORD{{"}" }}
    volumes: 
      - {{ redis.volume }}:/data
volumes:
  {{ redis.volume }}: